# GeoNetwork
#
# Access via "http://localhost:8080/geonetwork" (or "http://$(docker-machine ip):8080/geonetwork" if using docker-machine)
#
# Default user: admin
# Default password: admin

version: '2'
services:

    geonetwork:
      build:  ./geonetwork
      ports:
          - 8080:8080
      environment:
          DATA_DIR: /var/lib/geonetwork_data
          POSTGRES_DB_USERNAME: postgres
          POSTGRES_DB_PASSWORD: mysecretpassword
      links:
          - postgres
      depends_on:
          - postgres
      command: ["/wait-for-it.sh", "postgis:5432", "-t", "10", "--", "catalina.sh run"]
    
    postgres:
      image: postgres:9.4
      ports:
          - 5432:5432
